/* my styling */

@font-face {
	font-family: dreamFont;
	src: url('./assets/d15d836cec5cd645-s.p.otf') format('opentype');
	font-display: fallback;
}

@font-face {
	font-family: outfit;
	src: url('./assets/07a54048a9278940-s.p.woff2');
	font-display: swap;
}

@keyframes twinkle {
	0% {
		transform: scale(1, 1);
		opacity: 1;
		animation-timing-function: ease-in;
	}

	50% {
		transform: scale(0, 0);
		opacity: 0;
		animation-timing-function: ease-out;
	}

	100% {
		opacity: 1;
		transform: scale(1, 1);
	}
}

@keyframes reveal {
	0% {
		top: 100%;
	}

	100% {
		top: 0%;
	}
}

@keyframes animateGrad {
	0% {
		background-position: 0;
	}

	50% {
		background-position: 100%;
	}

	100% {
		background-position: 0;
	}
}

* {
	box-sizing: border-box;
}

:root {
	--traingle-size: 30%;
	--font-dream: 'dreamFont', 'dreamFont fallback';
	--outfit-font: 'outfit', 'outfit swap';
}

.app {
	width: 100%;
}

#landing {
	width: 100%;
	height: 100vh;
	display: grid;
	position: relative;
	grid-template-columns: 1fr 1fr;

	.star-container {
		inset: 0;
		position: absolute;
		z-index: -1000;

		.star {
			aspect-ratio: 1;
			background-color: rgba(250, 245, 235, 1);
			position: absolute;
		}
	}

	.sky {
		position: absolute;
		inset: 0;
		background-color: #571793;
		background: linear-gradient(rgb(28, 18, 80),
				rgb(111, 27, 176),
				rgb(33, 0, 46));
		z-index: -10000;
	}

	.outer {
		padding-inline: 2%;
		display: flex;
		justify-content: end;
		align-items: center;

		.front {
			padding-inline: 2%;
			color: white;

			h1 {
				margin: 2% 0;
				display: flex;
				flex-direction: column;
				align-items: end;
				justify-content: center;
				font-family: var(--font-dream);
				font-size: clamp(10vw, 1rem + 8vw, 9vmax);
				letter-spacing: 0.04em;

				.word {
					font-size: 8rem;
					-webkit-text-stroke: 0.005em color-mix(in oklab, white 55%, transparent);
					color: rgba(255, 160, 255, 0);
				}
			}

			hr {
				border-color: white;
			}

			p {
				text-align: right;
				font-family: var(--outfit-font);
				font-size: 2rem;
			}
		}
	}

	.tri {
		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			width: clamp(70%, 25vw, 100%);
			aspect-ratio: 1;

			rect {
				fill: linear-gradient(288deg, #ff8000, #f0c 53.2394%, #04f);
			}
		}
	}
}

#project {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	padding-bottom: 10%;
	background: linear-gradient(to bottom,
			rgb(33, 0, 46),
			black 20%,
			black 80%,
			rgb(33, 0, 46));

	&>h2 {
		width: 100%;
		font-size: clamp(4vmax, 20rem, 7vmax);
		font-family: var(--font-dream);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 2%;
		padding: 1% 2%;
		margin: 20% auto;
		margin-bottom: 0%;

		span:nth-of-type(1),
		span:nth-of-type(3) {
			color: white;
		}

		span:nth-of-type(2) {
			padding-inline: 5px;
			-webkit-text-fill-color: transparent;
			background: linear-gradient(288deg, #ff8000, #f0c 53.2394%, #04f);
			background-clip: text;
			background-size: 200% 200%;
			animation: animateGrad 6s infinite;
		}
	}

	.list {
		width: 75%;
		display: grid;
		grid-template-columns: 2fr 1.5fr;
		position: relative;
		border-radius: 25%;

		.view {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 4em 0;

			.card-container {
				margin: 20% 20%;
				width: 90%;
				padding: 2%;
				border-radius: 2%;
				border: 1px solid #262626;
				position: relative;

				.highlight {
					position: absolute;
					inset: 0;
					height: 1px;
					background: linear-gradient(90deg,
							rgba(0, 0, 0, 0) 5%,
							rgba(255, 255, 255, 0.8) 35%,
							rgb(255, 255, 255) 50%,
							rgba(255, 255, 255, 0.8) 65%,
							rgba(0, 0, 0, 0) 95%);
				}

				/*	&>div:nth-of-type(1) {
					background: linear-gradient(180deg, #6B0D33 49.9%, #DB2777 81.7%, #F472B6 93.88%, #F9D793 113.5%);
				}*/

				.card {
					height: 50vh;
					display: flex;
					flex-direction: column;
					border-radius: 2%;
					padding: 2%;
					padding-bottom: 0;
					background: linear-gradient(180deg,
							#1b1e49 49.9%,
							#373d95 81.7%,
							#323aa5 93.88%,
							#777de7 113.5%);

					span {
						display: grid;
						place-content: center;
						font-style: var(--font-dream);
						font-size: 3rem;
						color: white;
						height: 30%;
						text-align: center;
					}

					.img {
						flex-grow: 1;
						background-color: green;
						overflow: hidden;

						img {
							width: 100%;
							height: 100%;
							pointer-events: none;
						}
					}

					.extra {
						top: 35%;
						font-size: 4em;
					}
				}
			}
		}

		.meta {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 4em 0;
			pointer-events: none;

			.container {
				height: 50vh;
				margin: 30% 0%;
				padding: 0 10%;
				display: grid;
				gap: 2%;
				grid-template-columns: 5% 3fr;
				font-family: var(--outfit-font);

				&>div:nth-of-type(1) {
					padding-top: 30px;

					div {
						background-color: oklch(0.592 0.249 0.584);
						width: 100%;
						height: 10px;
					}
				}

				.data {
					padding-top: 3%;

					&>span {
						display: block;
						font-size: 2rem;
						line-height: 1.33;
						font-weight: 700;
						margin-bottom: 0;
						color: #fafafa;
					}

					&>p {
						margin: 0.3rem 0;
						width: 80%;
						color: #a3a3a3;
						line-height: 1;
					}

					&>ul {
						list-style: none;
						padding: 0;
						display: flex;
						flex-direction: column;
						gap: 0.5rem;
						font-size: 1rem;
						line-height: 1.5;
						color: color-mix(in oklab, #fafafa 85%, transparent);
						margin-right: 5%;

						li {
							display: flex;
							align-items: center;
							gap: 2%;
							font-size: 0.875rem;
							line-height: 1.42857;

							div {
								width: 30px;

								svg {
									color: oklch(0.718 0.202 349.761);
									fill: oklch(0.592 0.249 0.584);
								}
							}

							span {
								display: block;
							}
						}
					}

					&>.stack {
						margin-right: 5%;
						display: flex;
						flex-wrap: wrap;
						gap: 2%;
						color: #fafafa;

						&>span {
							margin-top: 2%;
							border: 1px solid black;
							border-color: color-mix(in oklab,
									#ffffe3 14%,
									transparent);
							padding: 0.5% 2%;
							border-radius: 10px;
							font-weight: 600;
							font-family: var(--outfit-font);
						}
					}
				}
			}
		}
	}
}

#contact {
	width: 100%;
	padding: 2% 0;
	background: linear-gradient(rgb(33, 0, 46),
			rgb(111, 27, 176),
			rgb(28, 18, 80));

	.top {
		width: 100%;
		margin-top: 2em;

		h1 {
			font-size: clamp(2vmax, 15rem, 10vmax);
			letter-spacing: 0.04em;
			font-family: var(--font-dream);
			margin: 0;
			text-align: center;
			color: white;
		}
	}

	.bottom {
		display: flex;
		gap: 5%;
		justify-content: center;
		align-items: center;
		padding: 5% 10%;

		&>.btn {
			text-align: center;

			button {
				font-family: var(--outfit-font);
				font-size: clamp(1vmax, 3rem, 3vmax);
				border-radius: 50px;
				padding: 1rem 3rem;
				position: relative;
				overflow: hidden;
				border: none;
				z-index: 10;
				word-wrap: break-word;

				&:hover {
					color: white;

					&:after {
						transform: translateY(0);
						transition-duration: 300ms;
						transition-timing-function: ease-out;
					}
				}

				&:after {
					content: '';
					position: absolute;
					inset: 0;
					background-color: black;
					border-radius: 50px;
					transform: translateY(100%);
					transition-duration: 300ms;
					transition-timing-function: ease-in;
					z-index: -1;
				}
			}
		}
	}
}
